<h1 style="margin: 20px">Admin >> Categories</h1>
<p>Find me in app/views/admin/categories/index.html.erb</p>

<div class="well">
<%= link_to '+ New category', [:new, :admin, :category], class: 'btn btn-info' %>
</div>

<p>ALL categories go here </p>